{% extends 'base.html' %}

{% block title %}
  Categories
{% endblock title %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Updated at</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{category.category_name}}</td>
        <td>{{category.updated_at|date:'d.m.Y, H:i'}}</td>
        <td>
          <a href="{% url 'update_category' category.id %}" class="btn btn-warning">Edit</a>
          <a href="{% url 'delete_category' category.id %}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}

