{% extends 'base.html' %}

{% block title %}
  Recipes
{% endblock title %}

{% block content %}
  <h2>Recipes</h2>
  <div class="card-group">
    {% for recipe in recipes %}
    <div class="card">
      <img src="{{recipe.recipe_image.url}}" class="card-img-top" alt="Food image">
      <div class="card-body">
        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-info">
          {{recipe.category}}
        </span>
        <h5 class="card-title">{{recipe.title}}</h5>
        <p class="card-text">{{recipe.description}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Updated at: {{recipe.updated_at|date:'d.m.Y, H:i'}}</small>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}