{% extends 'base.html' %}

{% block title %}
  Update {{category.category_name}}
{% endblock title %}

{% block content %}
  <h3>Update {{category.category_name}}</h3>
  <form action="{% url 'update_category' category.id %}" method="post">
    {% csrf_token %}
      <div class="mb-3">
        <div class="mb-3">
          <label for="{{ form.category_name.id_for_label}}" 
            class="form-label">{{form.category_name.label}}</label>
          <input type="{{form.category_name.widget.input_type}}" class="form-control" id="{{ form.category_name.id_for_label }}" name={{form.category_name.name}} value="{{form.category_name.value}}">
        </div>
      </div>
      <button type="submit" class="btn btn-warning">Submit</button>
  </form>
{% endblock content %}
